*{
    font-family: "Lexend Deca", sans-serif;
}

 
.main-container{
    background-color: #7FBEE8;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 8vh 0;
    position: relative;
    text-align: center;
}

.notification {
    background-color: #FEFEFE;
    border-radius: 1vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 12px;
    height: 10vh;
    line-height: 2.5vh;
    margin: auto;
    padding: 3.8vh;
    white-space: nowrap;
    width: fit-content;
    display: none;
}

.weather-container{
    margin: auto;
}

/* .music-container {
    background-color: pink;
    bottom: 0;
    position: absolute;
    width: 100vw;
    height: 100px;
} */

.music-container {
    background-color: white;
    height: auto;
    padding: 4vh;
    margin: 8vh auto 0;
    width: 80%;
    border-radius: 2vh;
}
.music-link img {
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    width: 70%;
    height: auto;
    margin-top: 2vh;
}

.music-link a {
    color: black;
    font-size: 2.5vh;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover {
    text-decoration: none;
}
iframe {
    border: 10px solid #FEFEFE;
    border-radius: 5px;
}

.location-icon {
    font-size: 2vh;
}

p {
    font-size: 2vh;
}

.weather-icon img {
    height: 24vh;
}

.temperature-value h4 {
    font-size: 8vh;
}

.temperature-description {
    text-transform: uppercase;
}

.spotify-uri {
    width: 100%;
}