*{
    font-family: "Lexend Deca", sans-serif;
}

.container{
    background-color: pink;
    margin: 0 auto;
    text-align: center;
}

.icon {
    font-size: 24px;
}
.user-location p {
    /* text-transform: uppercase; */
}
.temperature-value h4 {
    font-size: 64px;
}

.temperature-value span {
    font-size: 16px;
}

.temperature-description {
    text-transform: uppercase;
}
.music-container {
    background-color: yellow;
    padding: 50px;
}

/* rainy day
spotify:playlist:37i9dQZF1DXbvABJXBIyiY */

/* sunny day 
spotify:playlist:37i9dQZF1DX1BzILRveYHb 
spotify:playlist:37i9dQZF1DX6ALfRKlHn1t
spotify:playlist:37i9dQZF1DWSf2RDTDayIx*/

/* cloudy day 
spotify:playlist:37i9dQZF1DWUvZBXGjNCU4 */
/* 
stormy
spotify:playlist:37i9dQZF1DX2pSTOxoPbx9 */

/* windy 
spotify:playlist:37i9dQZF1DX5NsFgylu4qQ 
spotify:playlist:37i9dQZF1DX5CdVP4rz81C (fresh & chill)*/
/* 
snow
spotify:playlist:4sEKPcBYLcW3woDviiaigj
spotify:playlist:37i9dQZF1DXaIrEwuQ3hyy winter chillout

night sunny
spotify:playlist:37i9dQZF1DXbcP8BbYEQaO night pop */